* {
    margin: 0;
    padding: 0;
}

h1 {
    color: #ff0000;
    border-radius:20%;
    font-size: 96px;
    font-weight: 900;
    font-style: italic;
    font-family: 'Roboto', Arial, Helvetica, sans-serif ;
    text-decoration: underline;
    text-align: center;
    
}

h2 {
    color:rgb(8, 8, 8);
    border-radius: 5%;


}
p {
    text-indent: 20px;
    color: rgb(0, 0, 0);

}

.bg {

    height: 500px;
    width: 100%;
    background-color: rgb(5, 15, 15);
    background-image: url(https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=820&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

body {

  
    background-color: rgb(255, 255, 255)5);
    
}

